.spice_thumbnail_container {
   overflow: hidden;
   position: relative;
   img,
   video,
   iframe {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center;
      max-width: initial;
      max-height: initial;
      min-width: 100%;
      min-height: 100%;
      width: 100%;
      height: 100%;
      max-block-size: initial;
      max-inline-size: initial;
   }
}
