@use "@/css" as *;

.container {
   position: relative;
}
.fillContainer {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

.loader {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: -1;
   background-color: #dfdfdf;
}
