.wrapper {
   display: flex;
   align-items: center;
}

.percentage {
   --textSize: 24px;
   flex-shrink: 0;
   margin-right: 24px;
   margin-bottom: 0.5rem;
   overflow: hidden;
   font-size: var(--textSize);
   line-height: 22px;
   height: 22px;
}

.num {
   opacity: 0;
   color: green;
}

.bar {
   display: block;
   opacity: 1;
   width: 0%;
   will-change: width;
   height: 5px;
   background-color: red;
}
