@use "../../helpers.scss" as *;

.wrapper {
   display: flex;
   justify-content: center;
   @include mq(sm) {
      display: block;
   }
   p {
      font-size: 1.6rem;
      line-height: 1.4;
      span {
         display: inline-block;
      }
   }
}
