.wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.button {
   font-size: 18px;
   background-color: #333;
   padding: 16px 0;
   text-align: center;
   width: 160px;
   color: #fff;

   &:hover {
      opacity: 0.8;
      color: #fff;
   }
}

.content {
   width: 240px;
   background-color: #fff;
   padding: 16px;
   text-align: center;
   p {
      font-size: 18px;
      font-weight: bold;
      &:not(:first-child) {
         margin-top: 12px;
      }
   }
}
