.btnWrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   button {
      width: 48%;
      line-height: 48px;
      background-color: #333;
      color: #fff;
      text-align: center;
      cursor: pointer;
      &:hover {
         opacity: 0.8;
      }
   }
}

.note {
   margin-top: 16px;
}
