@use "@/css" as *;

.wrapper {
   margin: 120px auto 0;
   display: flex;
   flex-direction: row-reverse;
   min-height: 100vh;
}

.nav {
   position: sticky;
   top: 80px;
}

.inner {
   display: flex;
   align-items: flex-start;
   @include mq(md) {
      flex-direction: column-reverse;
   }
}
