._form_input,
._form_select {
   cursor: pointer;
   overflow: hidden;
   font-size: 16px;
}
._form_radioCheckInput {
   position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   z-index: -9999;
}
