@use "../../helpers.scss" as *;

.nav {
   width: 240px;
   padding-right: 40px;
   h3 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 16px;
   }
   a {
      font-size: 14px;
      text-decoration: underline;
      color: #333;
      &:not(:first-child) {
         margin-top: 12px;
      }

      @include hover {
         opacity: 0.8;
      }
   }
}

.block {
   &:not(:first-child) {
      border-top: 1px solid #808080;
      padding-top: 40px;
      margin-top: 40px;
   }
}
