.field {
   &:not(:first-child) {
      margin-top: 48px;
   }
   //label
   label {
      font-size: 22px;
      margin-bottom: 12px;
      font-weight: bold;
      display: block;
   }
   //input
   input[type="text"],
   input[type="email"],
   input[type="tel"],
   select,
   textarea {
      width: 100%;
      background-color: wheat;
      padding: 16px;
      font-size: 18px;
      &::placeholder {
         opacity: 0.4;
      }
   }
   textarea {
      line-height: 1.2;
   }
}

.flex {
   ul {
      display: flex;
      justify-content: space-between;
      gap: 16px;
      li {
         width: 100%;
      }
   }
}

@mixin radio-check($radius) {
   ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 40px;
   }
   input[type="radio"]:checked + label:before,
   input[type="checkbox"]:checked + label:before {
      opacity: 1;
   }
   //focus
   input[type="radio"],
   input[type="checkbox"] {
      &:focus-visible {
         & + label:after {
            background-color: rgba(#333, 0.16);
         }
      }
   }

   ul label {
      --checkSize: 16px;
      --boxSize: 32px;
      --labelGap: 40px;
      --labelPadding: 7px;

      font-size: 18px;
      display: block;
      position: relative;
      padding: var(--labelPadding) 0 var(--labelPadding) var(--labelGap);
      margin-bottom: 0;
      cursor: pointer;
      background-color: magenta;

      &::after,
      &::before {
         display: block;
         position: absolute;
         top: 50%;
         translate: 0 -50%;
         content: "";
      }
      &:before {
         width: var(--checkSize);
         height: var(--checkSize);
         left: calc(var(--checkSize) * 0.5);
         opacity: 0;
         z-index: 1;
         border-radius: $radius;
         background-color: #333;
      }

      &:after {
         width: var(--boxSize);
         height: var(--boxSize);
         left: 0;
         border: 1px solid #333;
         border-radius: $radius;
         background-color: #fff;
      }
   }
}

.radio {
   @include radio-check(50%);
}
.check {
   @include radio-check(0);
}

.select {
   select {
      font-size: 18px;
      font-weight: bold;
      background-image: url("/select.svg");
      background-position: calc(100% - 24px) center;
      background-size: 14px;
      background-repeat: no-repeat;
   }
}

.submit {
   input[type="submit"] {
      width: 100%;
      line-height: 64px;
      background-color: #333;
      color: #fff;
      font-size: 24px;
      text-align: center;
      cursor: pointer;
      &[disabled] {
         pointer-events: none;
         background-color: #ccc;
         color: #fff;
      }
   }
}

/*===============================================
validation
===============================================*/
.watchExample {
   margin-top: 12px;
   font-size: 14px;
   color: #808080;
}

.error {
   font-size: 14px;
   margin-top: 12px;
   color: red;
}

/*===============================================
policyCheck
===============================================*/
.privacyCheck {
   display: flex;
   justify-content: center;
   margin: 40px 0;

   @include radio-check(0);

   .privacyCheckLink {
      font-size: 16px;
      a {
         font-weight: 700;
         text-decoration: underline;
         display: inline;
      }
   }
}
