.spice_loader_wrapper {
   overflow: hidden;
   pointer-events: none;
}

.spice_loader_container {
   position: relative;
   width: 100%;
   height: 100%;
   opacity: 0;
}

// skelton
.spice_loader_skelton {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   animation-name: skeleton;
   animation-iteration-count: infinite;
}
@keyframes skeleton {
   0% {
      transform: translateX(-100%);
   }
   100% {
      transform: translateX(100%);
   }
}

// circular
.spice_loader_circular {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   margin: auto;
   border-radius: 50%;
   animation-name: cicrular;
   animation-iteration-count: infinite;
}
@keyframes cicrular {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
