@use "../../helpers.scss" as *;

.header {
   border-bottom: 1px solid #808080;
   margin: 0 auto;
   width: 100%;
   position: fixed;
   z-index: 10000;
   top: 0;
   background-color: #fff;
   @include transition(0.8s);
   @include my-cubic-bezier01;
   a {
      color: #333;
   }
}

.scorll_down {
   transform: translateY(-56px);
}

.inner {
   height: 48px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

/*===============================================
dropdown
===============================================*/
.dropdown_button {
   font-size: 16px;
   height: 48px;
   padding: 0 8px;
   color: #333;
   cursor: initial;
}

.dropdown_content {
   width: 160px;
   padding: 24px;
   background-color: #f7f7f7;
   margin-top: 8px;
   a {
      font-size: 14px;
      text-decoration: underline;
      &:not(:first-child) {
         margin-top: 12px;
      }
      @include hover {
         opacity: 0.8;
      }
   }
}
